{% extends 'base.html' %}

{%block content%}
<h1>About Us - InspireU Team</h1>
<a href = "mailto:lavichauhan2505@gmail.com">Send Email</a>
<p>Welcome to the InspireU team, a group of passionate individuals dedicated to making a positive impact through innovation and collaboration. Get to know our team members:</p>

<ul>
    <li><strong>Abhay Pratap:</strong> The driving force behind our vision, Abhay is a visionary leader who inspires us to think big and work towards meaningful change.</li>
    <li><strong>Ayush Kukreti:</strong> Ayush is our tech wizard, turning ideas into reality with his coding skills and expertise in web development.</li>
    <li><strong>Aryan Ghildiyal:</strong> Aryan's creativity knows no bounds. He brings fresh ideas and designs to our projects, making them visually appealing and user-friendly.</li>
    <li><strong>Rajat Rawat:</strong> Rajat is our data guru, using his analytical skills to derive insights and drive data-driven decisions.</li>
</ul>

<p>Together, we are the InspireU team, working tirelessly to create innovative solutions that inspire positive change in our community and beyond.</p>
{%endblock%}