{% extends 'base.html' %}

{% block content %}
{% load static %}
    <div class="carcont">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/img/env tree.jpg" class="d-block w-100 img-fluid" alt="...">
                    <div class=" custom-caption">
                        <p>Join Us In Preserving Our Planet!</p>
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Preserve Nature's Beauty</h5>
                        <p>Join our mission to protect and conserve the beauty of our natural world.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/img/Banner2 (1).jpg" class="d-block w-100 img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Discover Our Services</h5>
                        <p>Explore a range of eco-friendly services that contribute to a sustainable future.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/static/img/DD4JVbnWsAEQdJM.jpg" class="d-block w-100 img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Reduce Water Waste</h5>
                        <p>Join the movement to stop water wastage and conserve this precious resource.</p>
                    </div>
                </div>
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
<div class="approaches">
    <h3>What you can do?</h3>
    <p>Follow our simple steps towards a greener future:</p>
</div>
   
        <div class="container">
            <div class="row">
                <div class="col-md-6 appbox">
                    <h2>Find Your Plant</h2>
                    <p>Plant today, breathe tomorrow. Join our campaign for a greener future."</p>
                    <p>"Get insights into your gardening journey with 'Know Your Plants and Budget.' Discover the perfect plant selections that align with your allocated budget. Learn about different plant types and their costs, helping you make informed decisions for your gardening project. Explore how to make the most of your resources while achieving a thriving and beautiful green space."</p>
                </div>
                <div class="col-md-6 text-right">
                    <a href="know-your-plant"><img src="/static/img/flat-lay-plants-gardening-tools-with-copyspace_23-2148198742.jpg" alt="Image" class="img-fluid img-thumbnail factobox"/></a>
                </div>
            </div>
        
        <div class="row">
            <div class="col-md-6 text-right">
                <a href='/leading-planter'><img src="/static/img/kukplant.jpg" alt="Image" class="img-fluid img-thumbnail factobox" /></a>
            </div>
            <div class="col-md-6 appbox">
                <h2>Check Your Planting Rank!</h2>
                <p>"Welcome to our tree planter ranking page, where you can explore the standings of leading environmentalists dedicated to reforestation efforts. Check the ranking of your favorite tree planter and compare their contributions to others in the mission to preserve our planet's greenery. Stay informed about the champions of sustainability and their remarkable efforts in making our world a better place."
</p>
                

            </div>
            
        </div>
    
    <div class="row">
        <div class="col-md-6 appbox">
            <h2>Upload pictures of your locality</h2>
        <p>Upload pictures of your locality which can be later made better by the support of local volunteers..</p>
        </div>
        <div class="col-md-6 text-right">
            <a href="/upload-images-of-your-neighbourhood"><img src="/static/img/map-gps-symbol.jpg" alt="Image" class="img-fluid img-thumbnail factobox" /></a>
        </div>
    </div>

 <div class="row">
    <div class="col-md-6 text-right">
        <a href="/check-your-locality"><img src="/static/img/camera1.jpg" alt="Image" class="img-fluid img-thumbnail factobox" /></a>
    </div>
    <div class="col-md-6 appbox">
        <h2>Check Pictures of locality</h2>
        <p>Check the pictures in your locality..-for NGOs and volunteers</p>
    </div>
    </div>
    <div class="row">
        <div class="col-md-6 appbox">
            <h2>Cattle Management System </h2>
        <p>Help us create safer streets by uploading images of cattle-related issues in your area. Your contribution can drive positive change!</p>
        </div>
        <div class="col-md-6 text-right">
            <a href="upload-images-cattle-issue"><img src="/static/img/cattlefront.jpg" alt="Image" class="img-fluid img-thumbnail factobox" /></a>
        </div>
    </div>
</div>
<br>
    <div class="hr"></div>
<div class="cards">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <div class="p-3 border bg-light factobox">
                    <h2>Biodiversity Importance</h2>
                    <p> Ecosystems are home to a vast array of plant and animal species. Biodiversity is critical for the health of ecosystems, as each species plays a unique role in maintaining ecological balance.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 border bg-light  factobox">
                    <h2>Ecosystem Services</h2>
                    <p> Ecosystems provide essential services to humanity, including clean air and water, pollination of crops, and the regulation of climate and disease. These services are estimated to be worth trillions of dollars annually.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 border bg-light factobox">
                    <h2>Human Impact</h2>
                    <p>Human activities, such as deforestation, pollution, and overfishing, have a significant impact on ecosystems. These activities can disrupt ecosystems and threaten their stability.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center ">
        <div class="row">
            <div class="col-md-4">
                <div class="p-3 border bg-light factobox">
                    <h2>Climate Change</h2>
                    <p>Climate change, largely driven by human activities like burning fossil fuels, is altering ecosystems and causing shifts in the distribution of species. This can lead to the loss of some species and the introduction of others.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 border bg-light factobox">
                    <h2>Conservation Efforts</h2>
                    <p>Conservation initiatives worldwide aim to protect and restore ecosystems. These efforts include the establishment of protected areas, reforestation projects, and wildlife conservation programs.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 border bg-light factobox">
                    <h2>Renewable Energy</h2>
                    <p>Transitioning to renewable energy sources like solar and wind power is a key aspect of sustainability, as it reduces greenhouse gas emissions and lessens the impact on ecosystems.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

</body>
</html>

{%endblock%}